<!DOCTYPE html>
<html>
  <head>
    <title>Home | merukari_taste</title>
  </head>
  <body>
    <h1>merukari_taste</h1>
    <p>
      これは
      <a href="https://www.mercari.com/jp/">mercari</a>
      を参考にしたサンプルサイトです
    </p>
  </body>
</html>